.question-content {
	border: 1px #cccccc;
}

.jumbotron {
	padding: 15px;
	background-color: #bce8f1;
}
.jumbotron p {
	display: inline-block;
}

.jumbotron p {
	display: inline-block;
}

#limit {
	color: #888888;
}

.pull-left {
	margin-right: 16px;
}

.finished {
	color: #ff9900;
}

.collapsed {
	width: 0%;
	background-color: #428bca;
}
.expandify {
	width: 100%;
	background-color: #d9534f;
	transition-timing-function: linear;
	-o-transition-timing-function:linear;
	-webkit-transition-timing-function: linear;
	-moz-transition-timing-function: linear;
	-moz-transition:width 60s, background-color 60s, -moz-transform 60s;
    -webkit-transition:width 60s, background-color 60s,  -webkit-transform 60s;
    -o-transition:width 60s, background-color 60s,  -o-transform 60s;
    transition:width 60s, background-color 60s,  transform 60s;
}