.question-content {
	border: 1px #cccccc;
}

.jumbotron {
	padding: 15px;
	background-color: #bce8f1;
}
.jumbotron p {
	display: inline-block;
}

.jumbotron p {
	display: inline-block;
}

#limit {
	color: #888888;
}

.pull-left {
	margin-right: 16px;
}

.finished {
	color: #ff9900;
}

.progress-striped .collapsed {
	width: 0%;
	background-color: #5cb85c;
}
.progress-striped .expandify {
	width: 100%;
	background-color: #d9534f;
	-moz-transition:width 60s linear, background-color 60s linear, -moz-transform 60s linear;
    -webkit-transition:width 60s linear, background-color 60s linear,  -webkit-transform 60s linear;
    -o-transition:width 60s linear, background-color 60s linear,  -o-transform 60s linear;
    transition:width 60s linear, background-color 60s linear,  transform 60s linear;
}